<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Test Project Automation Suite">

	<listeners>
		<listener class-name="com.qa.ExtentReportListener.ExtentReportListener" />
	</listeners>

	<test name="Functional Automation Tests">
		<classes>
			<class name="com.TestProject.qa.Testcases.LoginPageTest"></class>
			<class name="com.TestProject.qa.Testcases.HomePageTest"></class>
			<class name="com.TestProject.qa.Testcases.ContactPageTest"></class>
		</classes>
	</test>
</suite>